.listado {
  width: 400px;
}

.listado-titulo {
  color: white;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
}

.listado-vacio {
  color: white;
}
