* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  min-height: 100vh;
  background: linear-gradient(180deg, #b52a86 0%, #e60073 100%);
}


.app {
  text-align: center;
  color: white;
  padding: 30px;
}

.app h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
}


.contenedor {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
}


.formulario {
  width: 400px;
  text-align: left;
}

.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
}


.ingresar-form {
  margin-bottom: 15px;
}

.ingresar-form label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ingresar-form input,
.ingresar-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #eee;
}

.ingresar-form textarea {
  height: 70px;
  resize: none;
}


.boton-agregar {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #4cc3d9;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.boton-agregar:hover {
  background: #3aa8bd;
}
.listado {
  width: 400px;
}

.listado h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
}

.lista-contenedor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cita-card {
  background: #eaeaea;
  color: black;
  padding: 15px;
  border-radius: 8px;
}
.cita-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.mascota-nombre {
  font-weight: bold;
}
.boton-eliminar {
  background: #eaeaea;
  border: 1px solid black;
  padding: 8px 0;
  width: 120px; 
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.boton-eliminar:hover {
  background: #bbb;
}
.cita-detalles {
  font-size: 14px;
}

.detalle-item {
  margin-bottom: 5px;
}

.detalle1 {
  font-weight: bold;
  margin-right: 5px;
}

.detalle2 {
  color: #333;
}

.sintomas-texto {
  margin-top: 5px;
}

.cita-contenido {
  text-align: left;
}

.cita-contenido span {
  font-weight: bold;
}